{% extends 'base.html.twig' %}

{% block title %}Court{% endblock %}

{% block body %}
    <h1>Court</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ court.id }}</td>
            </tr>
            <tr>
                <th>Court_name</th>
                <td>{{ court.courtName }}</td>
            </tr>
            <tr>
                <th>Court_code</th>
                <td>{{ court.courtCode }}</td>
            </tr>
            <tr>
                <th>Appeal</th>
                <td>{{ court.appeal }}</td>
            </tr>
            <tr>
                <th>Circuit</th>
                <td>{{ court.circuit }}</td>
            </tr>
            <tr>
                <th>Information</th>
                <td>{{ court.information }}</td>
            </tr>
            <tr>
                <th>ContentChanged</th>
                <td>{{ court.contentChanged ? court.contentChanged|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ContentChangedBy</th>
                <td>{{ court.contentChangedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('court_index') }}">back to list</a>

    <a href="{{ path('court_edit', {'id': court.id}) }}">edit</a>

    {{ include('court/_delete_form.html.twig') }}
{% endblock %}
