{% extends 'base.html.twig' %}

{% block title %}Position{% endblock %}

{% block body %}
    <h1>Position</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ position.id }}</td>
            </tr>
            <tr>
                <th>Name_position</th>
                <td>{{ position.namePosition }}</td>
            </tr>
            <tr>
                <th>Code_position</th>
                <td>{{ position.codePosition }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ position.updated ? position.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('position_index') }}">back to list</a>

    <a href="{{ path('position_edit', {'id': position.id}) }}">edit</a>

    {{ include('position/_delete_form.html.twig') }}
{% endblock %}
